/* Normalizaciones y Estilos para Ligth Mode */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #2b2b2b;
  background-color: white;
}
/* Estilos para Dark Mode  */
.darkMode {
  color: white;
  background-color: #2b2b2b;
}
.dark {
  width: 45px;
}
.btnDark {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
/* Header */
header {
  width: 100%;
  height: 8em;
  top: 0;
  margin-bottom: 3%;
}
.header-productos {
  width: 100%;
  height: 8em;
  top: 0;
  position: sticky;
  margin-bottom: 3%;
}
.logo {
  width: 50px;
  height: 50px;
}
.collapse {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.navbar {
  height: 8em;
  border-top: solid 2px rgba(0, 255, 128, 0.63);
  border-bottom: solid 5px rgba(0, 255, 128, 0.63);
  margin-bottom: 10%;
}
.nav {
  --bs-nav-link-color: rgba(137, 43, 226, 0.658);
}

/* Home */

.home {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
  background-color: rgba(177, 113, 238, 0.491);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.card {
  background: transparent;
  margin: 2%;
  position: unset;
}
.card-img-top {
  height: 16.5em;
  border-bottom: solid 2px rgba(137, 43, 226, 0.658);
}
.carrusel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(0, 255, 128, 0.096);
  padding: 50px;
}
.carousel-item {
  width: 50em;
}

.carrusel img {
  border-radius: 50px;
}
.presentacion {
  margin: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

/* Cards de Productos */
.cards {
  width: 30%;
  height: 30%;
  margin: 0.5%;
  border: solid 0.7px rgba(0, 255, 128, 0.356);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.2%;
}

.cards__section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 6%;
  flex-wrap: wrap;
}

.cards__img {
  width: 70%;
  margin-top: 5%;
}

.cards__titulo {
  color: grey;
  text-align: center;
}

.cards__precio-comun {
  font-size: 1.4em;
  margin: 0.45em;
}

.cards__precio-oferta {
  color: rgba(0, 255, 128, 0.755);
  margin: 0.45em;
  font-size: 1.4em;
}

.cards__info {
  text-align: center;
  margin: 0.2em;
}

/* Botones */
.btn-bd-primary {
  background-color: rgba(137, 43, 226, 0.658);
  --bs-btn-hover-bg: rgba(0, 255, 128, 0.776);
}
.btn_seguir {
  background-color: rgba(0, 255, 128, 0.776);
  --bs-btn-hover-bg: rgba(137, 43, 226, 0.658);
}
.btn-sm {
  margin-left: 2%;
  margin-bottom: 3%;
}

.btn_form {
  margin-top: 2%;
}

/* Carrito */
.modal-body {
  color: black;
}
.contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  margin-bottom: 5%;
}

ul {
  font-size: 1em;
  list-style: none;
  border-bottom: solid 1px rgba(128, 128, 128, 0.779);
}
.carrito__img {
  width: 45px;
  margin-bottom: 7%;
}
.carrito {
  width: 30px;
}
.carrito__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.carrito__titulo {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin-top: 3%;
}
.carrito__total {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin-bottom: 3%;
  margin-top: 3%;
}

/* Formularios */

.form {
  width: 95%;
  border-radius: 1.5%;
  background-color: rgba(0, 255, 128, 0.194);
  margin-bottom: 5%;
  padding: 10%;
}
.form__text {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 7%;
  color: gray;
}
.radios {
  margin-bottom: 4%;
}

.form__contenedor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 15%;
}
.form__articulo {
  width: 30em;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Botones de IMC */

.botones {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
}

.botones__texto {
  text-align: center;
  font-size: x-small;
  width: 5.6em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contener_boton {
  margin: 0;
  width: 5.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imc1 {
  color: transparent;
  width: 5.6em;
  height: 1.5em;
  border: unset;
  border-radius: 3%;
  background: rgb(235, 98, 34);
  background: linear-gradient(
    90deg,
    rgba(235, 98, 34, 1) 0%,
    rgba(235, 196, 34, 1) 100%
  );
}
.imc2 {
  color: transparent;
  width: 5.6em;
  height: 1.5em;
  border: unset;
  border-radius: 3%;
  background: rgb(235, 98, 34);
  background: linear-gradient(
    90deg,
    rgba(235, 196, 34, 1) 0%,
    rgba(89, 236, 62, 1) 100%
  );
}

.imc3 {
  color: transparent;
  width: 5.6em;
  height: 1.5em;
  border: unset;
  border-radius: 3%;
  background-color: rgba(89, 236, 62, 1);
}

.imc4 {
  color: transparent;
  width: 5.6em;
  height: 1.5em;
  border: unset;
  border-radius: 3%;
  background: rgb(235, 98, 34);
  background: linear-gradient(
    90deg,
    rgba(89, 236, 62, 1) 10%,
    rgba(235, 196, 34, 1) 100%
  );
}
.imc5 {
  color: transparent;
  width: 5.6em;
  height: 1.5em;
  border: unset;
  border-radius: 3%;
  background: rgb(235, 98, 34);
  background: linear-gradient(
    90deg,
    rgba(235, 196, 34, 1) 10%,
    rgba(235, 98, 34, 1) 100%
  );
}

/*Popper*/

#tooltip {
  background: white;
  border: solid 1px blueviolet;
  color: blueviolet;
  font-weight: bold;
  padding: 6px 6px;
  font-size: 13px;
  border-radius: 4px;
}
#arrow,
#arrow::before {
  border-top: solid 1px blueviolet;
  border-left: solid 1px blueviolet;
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
  margin-right: 150px;
}
#tooltip[data-popper-placement^="top"] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^="bottom"] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^="left"] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^="right"] > #arrow {
  left: -4px;
}

#tooltip {
  display: none;
}

#tooltip[data-show] {
  display: block;
}
